files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDATCCAekCAQAwgY0xCzAJBgNVBAYTAkJSMQ4wDAYDVQQIDAVHT0lBUzEOMAwG
      A1UEBwwFUEFSSVMxDDAKBgNVBAoMA1BVQzERMA8GA1UECwwIUFVDTUVSREExEDAO
      BgNVBAMMB1FVRUlST1oxKzApBgkqhkiG9w0BCQEWHGFsZXhhbmRyZXBvbnRlc2d5
      bkBnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC62owz
      txB6Dn0Ad72GDuuHVNfJkdBIkM22uCHlE7YD52w4T+d8FdqY2j0QcEhwGADWZEpW
      NdsbZU1ItSDH5hXti7X9h9UnKNUbT3x52T+sA1/Q3hffBVGOLqrHY/L4OTx+HVF3
      M4W6Efr+qcHwAp90vleYb0EJ6xmq7WMo66tkwqyGvOdqfC+hzsvkmenc6CsMi0bA
      OVh/5X2QSspwujHDEXGsT/+AVU0tILX3Ogzdvbz06d3OQySYy3orxUhe6+6fda0B
      7ZsMfUjxjk8aKwCUWIkCyXkNBcxbEMyvDJzMoZ2V8mGfx34PIFCqOmmCfOMc2h0x
      J0DQXJzg/4BCiCUTAgMBAAGgLjAVBgkqhkiG9w0BCQIxCAwGc2lhZ3JpMBUGCSqG
      SIb3DQEJBzEIDAZteSBkb2cwDQYJKoZIhvcNAQELBQADggEBAKAu4gU6dsaaTo2e
      cvyDI5upCjDQvCb7/ig/re7HVfClpJdizjkuM2m/SC523Gc0HrlYYbXZaql7t9DX
      BDpS7IY/D2WkH6ogKqgxyf9R9sOZfaWHQnfHHYYgPb0wzWLrLpLx8U0l6BX7q+yP
      Y9OHihz8DqEmZJPK50hAOyhwMERciz8DtDMuMZ14TtGP63+MU7KJcL81aEU0Fv/W
      z4kUH/XfF8RRFqGvc/QRloPvKZIzDXEb4cyLzEELZLeiDO2vvr5LCxePNlYGIYVv
      AkGKCT92Z5m7gCujygpoJLbFGFmafW3CHdNBm49kWoFIxb/XX+dohc4V5XVjOAUd
      IEqiobY=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAutqMM7cQeg59AHe9hg7rh1TXyZHQSJDNtrgh5RO2A+dsOE/n
      fBXamNo9EHBIcBgA1mRKVjXbG2VNSLUgx+YV7Yu1/YfVJyjVG098edk/rANf0N4X
      3wVRji6qx2Py+Dk8fh1RdzOFuhH6/qnB8AKfdL5XmG9BCesZqu1jKOurZMKshrzn
      anwvoc7L5Jnp3OgrDItGwDlYf+V9kErKcLoxwxFxrE//gFVNLSC19zoM3b289Ond
      zkMkmMt6K8VIXuvun3WtAe2bDH1I8Y5PGisAlFiJAsl5DQXMWxDMrwyczKGdlfJh
      n8d+DyBQqjppgnzjHNodMSdA0Fyc4P+AQoglEwIDAQABAoIBAArgg/7SrkPcqgwn
      7EFshutm1fTm5xACVedICrkSD6tkglk41YnUn9f8BEf7sUvNKedRCT7BfdK3b+tG
      l/TrAOXGFz799DuGVfl0BBP3wIwb2i0HcK5L2faD4u8ec1tdwZa50C83MZamS00d
      xqtZC705A1JdT5TrOaBIl1gfd+eyj77d7PfIPqthiewNWVJJPTZPEnHdh5d4FQaV
      35N2dX/OPFaU6YpQYnY32LCaddyEnHfiYkBtxyzud8sz6xlZEWIzGzkGqLr18KlT
      JDELRcXbu5K6zlZRMDKsl7KzSyJiFhCHwPoXoespOJOYy0eHEnNMv8W8dp6+vNzL
      huY+9eECgYEA9zkMsEJXVjAvh/XOSup1Z3KmQDylTLDIGw2EKMe6hu+x55Z759a1
      yYKmbydjIvBTIJ//fpC46zQZyzJtVUVsQA5KbHpK3amJx2qvXuCpLH9IPcoZMNGP
      i+DN3flg53kJW/Wak4DAGd0/jq84Z1U23ftp+y/P29O6XbszJn8xiWMCgYEAwXzR
      LKQjEws1Sd2IFvPjD9xxOKT/YZFEZ+bEVtEw/a5IYQe4Tapu8kd6r3aU63jkmxcw
      r/qAYvMtxsAwztiIBVBhk90RAduO8XARok4TqB7k2VDSB98ox6IikEZ7Eb/zwWrO
      ei9celpU/6kvCxR9HQ/GwjdG3PQ4yUcwjoWLnJECgYAuQHEcRL0cNdWepSEcKPMg
      EHYEDJSMXYKCdSvliUBfYFazUhcKT8Qg2B2VLBRDBB05PFXLcv31mwC8YEnOKzfO
      YB4SX2rEP6S0N0RqBrP/zCxSyw2dcYdejwdU4QP9KkrS9ocd03edHyR16FgwFOQ3
      8YJpaQ+FO/5g7NXr/N3iqwKBgCqrkSHMLOQFQ8I/dcTCEmAsGFgKoztsIu7bCI+w
      4KIBbnrfjfiqzn7l3puVhjAL4DaHvbgBgZDQ2laLifgD7rNlT6+hQB/twK9kLK9j
      kpgv//4hAcC0qTSlgAPbV0bJ00LjgBeYHEfrZfVf5T0HTrQ7B3VLZXhS77cL2RyF
      PQ3RAoGBAJz33nFNwLoBFu2uU4r3AaipDTNJiRTNzFBr4N7tjz2u2cgYlywfqMhf
      fUziRxag0dbdoYfXTj71hz0Ve/xv7MS057+TbKvnmiOtQc/yoYZ1gqG1TnkhBdEy
      Jrh4FHPwtv5PDXrMsfxrAlO83M90LLnfu2pu1YVhjMBDnh2mqp/A
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"